<% provide(:title, "About") %>
<h1>About</h1>
<img id="orange" src="<%= asset_path('various-fruits.jpg') %>" alt="various-fruits", class="center">
<p>
  This site aims to give my reviews on various fruits that I eat.
</p>