<% provide(:title, "About") %>
<h1>About</h1>
  <center><img id="various-fruits" src="<%= asset_path('various-fruits.jpg') %>" width="600" height="400" ></center>
<p>
  This site aims to give my reviews on various fruits that I eat.
</p>
