<% provide(:title, 'Contact') %>
<h1>Contact</h1>
  <center><img id="oranges" src="<%= asset_path('oranges.jpg') %>" width="600" height="600" ></center>
<p>
  Contact <a href="choijong@grinnell.edu">me</a> about anything!
  </p>
